{% extends "layout.html" %}
{% block body %}

{% macro application(app) -%}
<div class="panel panel-{% if app.priority==0 %}info{% else %}primary{% endif %}">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-8">
      <p class="panel-title"><small>{{app.sent_at.replace(tzinfo=UTC).astimezone(TZONE).strftime("%d.%m.%y")}}
        {% if is_admin %}{{app.learning_association_name}},{% endif %}
        {{app.organization}}</small><br>Søknad fra {{app.name}} om reisestipend til {{app.location}}</p>
    </div>
    <div class="col-xs-4 text-right">
      <span class="badge badge-default">
        {% if app.priority > 0 %}
        Prioritet: {{app.priority}}
        {% elif app.priority == 0 %}
        Ikke prioritert
        {% else %}
        Ny
        {% endif %}
      </span>
      &nbsp;
      <a class="btn btn-primary" role="button" data-toggle="collapse" href="#app_{{app.key.id()}}"
      aria-expanded="false" aria-controls="app_{{app.key.id()}}">Vis søknad</a>
    </div>
    </div>
  </div>
  <div class="collapse" id="app_{{app.key.id()}}">
    <div class="panel-body">
      <address>
        <strong>{{app.name}}</strong><br>
        {{app.address}}, {{app.postal_code}} {{app.postal_city}}<br>
        Telefon (dagtid): {{app.phone}}<br>
        <a href="mailto:{{app.email}}">{{app.email}}</a>
      </address>
      <dl>
        <dt>Organisasion/arbeidsfelt/funksjon</dt>
        <dd>{{app.organization}}</dd>
        <dt>Studieforbund</dt>
        <dd>{{app.learning_association_name}}<br></dd>
        <dt>Tidligere tildelt stipend</dt>
        <dd>{% if app.previous_grants %}{% for item in app.previous_grants %}{{item.year}}: {{item.location}}
          {% endfor %}{% else %}(ingen){% endif %}</dd>
      </dl>
      <h3>Plan for studiereisen</h3>
      <dl>
        <dt>Sted (land)</dt>
        <dd>{{app.location}}</dd>
        <dt>Tidsrom</dt>
        <dd>{{app.time_span}}<br></dd>
        <dt>Antatte totale reisekostnader</dt>
        <dd>{{app.expenses}}</dd>
        <dt>Formål med stuidereisen</dt>
        <dd>{{app.purpose}}</dd>
        <dt>Program for studieoppholdet</dt>
        <dd>{{app.study_program}}</dd>
        <dt>Andre offentlige tilskudd det søkes om til samme studiereise</dt>
        <dd>{% if app.other_grants %}{% for item in app.other_grants %}{{item.provider}}, beløp: {{item.amount}}
          {% endfor %}{% else %}(ingen){% endif %}</dd>
      </dl>
      <hr>
      {% if is_locked %}
      <p>Fristen for å endre prioritet er gått ut.</p>
      {% else %}
      <form method="post" class="form-inline silent">
      <input type="hidden" name="grants_application" value="{{app.key.urlsafe()}}" />
      <div class="form-group">
        <label for="priority_{{app.key.id()}}">Studieforbundets prioritet:&nbsp;</label>
        <select id="priority_{{app.key.id()}}" name="priority" class="form-control">
          <option value="0">Ikke prioritert</option>
          {% for i in range(1, 11)%}
          <option value="{{i}}"
            {% if i==app.priority %} selected{% endif %}
            {% if not app.priority > 0 and prioritized_grants_applications|length >= 10 and not is_admin %} disabled{% endif %}
          >Prioritet {{i}}</option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Lagre</button>
        {% if not app.priority > 0 and prioritized_grants_applications|length >= 10 and not is_admin %}
        <span class="help-block">Du har allerede prioritert 10 søknader.</span>
        {% endif %}
      </div>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{%- endmacro %}

<a class="btn btn-danger pull-right" href="/prioriter?logg_ut=true">Logg ut</a>
<h1>Søknader fra ditt studieforbund</h1>
<hr>
<h2>Prioriterte søknader</h2>
<p>Søknadene som ligger her vil bli behandlet av VOFO i prioritert rekkefølge. <strong>Frist for å gjøre endringer er 28. november.</strong></p>
<div class="applications">
  {% if prioritized_grants_applications %}
    {% for item in prioritized_grants_applications %}
    {{application(item)}}
    {% endfor %}
  {% else %}
  <div class="alert alert-info">Du har ikke prioritert noen søknader ennå.</div>
  {% endif %}
</div>
<hr>
<h2>Andre søknader</h2>
<p>Her finner du søknader som ikke er behandlet eller som ikke er prioritert. Disse søknadene blir ikke vurdert av VOFO, med mindre de får en prioritet innen 28. november (studieforbundets prioritet angis nederst på hver søknad).</p>
<div class="applications">
  {% if grants_applications %}
    {% for item in grants_applications %}
    {{application(item)}}
    {% endfor %}
  {% else %}
  <div class="alert alert-info">Du har ingen nye eller ikke-prioriterte søknader.</div>
  {% endif %}
</div>

{% endblock %}
